<div class="top_container">
    <br>
    <h2 class="ml-4">100円ショップを
    <br>
    もっと楽しく
    <br>
    もっと便利に</h2>
</div>
<div class="explanation_area">
    <div class="container">   
        <h3 class="mb-4">¥100とは</h3>
        <p>誰しも利用したことがある100円ショップ(通称100均)</p>
        <p>当サイトではその100均にスポットを当て、</p>
        <p>買って良かった商品や、こんな商品があったなど</p>
        <p>情報交換を目的としたサイトです</p>
    </div>
</div>
<div class="usage_area">
    <div class="container">   
        <h3 class="mb-4" id="usage_title">¥100の使い方</h3>
        <div class="card"><div class="row"><div class="usage_icon col-2"></div><div class="usage_message col-10"><h5>購入した商品のレビューを投稿！</h5>実際に自分で購入した商品をレビューしてみよう。購入店舗、購入回数なども入力出来ます。</div></div></div>
        <div class="card"><div class="row"><div class="usage_icon col-2"></div><div class="usage_message col-10"><h5>みんなのレビューを閲覧！</h5>他のユーザーのレビューを見てみよう。新商品や気になる商品に出会えるかも。</div></div></div>
        <div class="card"><div class="row"><div class="usage_icon col-2"></div><div class="usage_message col-10"><h5>気になった商品をストック！</h5>気になる商品を見つけたら買い物リストにストック。次のショッピングの手助けに。</div></div></div>
        <div class="card"><div class="row"><div class="usage_icon col-2"></div><div class="usage_message col-10"><h5>商品ランキングをチェック！</h5>人気の商品を見てみよう。試したくなる商品に出会えるかも。</div></div></div>
    </div>
</div>
<div class="sample_area">
    <div class="container">   
        <h3 class="mb-4 center">レビューサンプル</h3>
    </div>
</div>