<div class="top_container">
	<br>
	<div class="top_container_text">
		<h2 class="ml-5">100円ショップを</h2>
		<h2 class="mt-4 text-center">もっと楽しく</h2>
		<h2 class="mr-5 mt-4 text-right">もっと便利に</h2>
	</div>
</div>
<div class="explanation_area">
	<h2 class="mb-4">¥100とは</h2>
	<p>誰しも利用したことがある100円ショップ(通称100均)</p>
	<p>当サイトではその100均にスポットを当て</p>
	<p>買って良かった商品やこんな商品があったなど</p>
	<p>情報交換を目的としたサイトです。</p>
</div>
<div class="usage_area">
	<h3 class="my-4" id="usage_title">¥100の使い方</h3>
	<div class="card my-3" style="border: 1px solid black;">
		<div class="row m-0">
			<div class="usage_icon col-2">
				<i class="fas fa-comments fa-4x"></i>
			</div>
			<div class="usage_message col-10">
				<h5>購入した商品のレビューを投稿！</h5>
				実際に自分で購入した商品をレビューしてみよう。購入店舗、購入回数なども入力出来ます。
			</div>
		</div>
	</div>
	<div class="card my-3" style="border: 1px solid black;">
		<div class="row m-0">
			<div class="usage_icon col-2">
				<i class="fas fa-search fa-4x"></i>
			</div>
			<div class="usage_message col-10">
				<h5>みんなのレビューを閲覧！</h5>
				他のユーザーのレビューを見てみよう。新商品や気になる商品に出会えるかも。購入したら口コミを投稿してみよう！
			</div>
		</div>
	</div>
	<div class="card my-3" style="border: 1px solid black;">
		<div class="row m-0">
			<div class="usage_icon col-2">
				<i class="fas fa-shopping-cart fa-4x"></i>
			</div>
			<div class="usage_message col-10">
				<h5>気になった商品をストック！</h5>
				気になる商品を見つけたら買い物リストにストック。次のショッピングの手助けに。
			</div>
		</div>
	</div>
	<div class="card my-3" style="border: 1px solid black;">
		<div class="row m-0">
			<div class="usage_icon col-2">
				<i class="fas fa-crown fa-4x"></i>
			</div>
			<div class="usage_message col-10">
				<h5>商品ランキングをチェック！</h5>
				人気の商品を見てみよう。試したくなる商品に出会えるかも。
			</div>
		</div>
	</div>
	<div class="card my-3" style="border: 1px solid black;">
		<div class="row m-0">
			<div class="usage_icon col-2">
				<i class="fas fa-map-marker-alt fa-4x"></i>
			</div>
			<div class="usage_message col-10">
				<h5>ショップを検索！</h5>
				最寄りのショップを検索しよう！みんなが購入したショップの場所も調べられます。
			</div>
		</div>
	</div>
</div>
<div class="sample_area"> 
	<h3 class="mb-4 text-center">サンプルムービー</h3>
</div>
