// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.post_index_icon {
  font-size: 20px;
}

.rank_num {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

